services:
  web:
    build: ./backend
    container_name: DRF_app
    volumes:
      - ./backend/task/:/app/task
      - ./backend/to_do_api/:/app/to_do_api
    ports:
      - "127.0.0.1:8001:8000"
    env_file:
      - ./backend/.env
    environment:
      - POSTGRES_HOST=db
    depends_on:
      - db
    restart: always

  db:
    image: postgres:17-alpine
    container_name: db_todo_api
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
    ports:
      - "127.0.0.1:5433:5432"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - web

volumes:
  postgres_data:
