services:
  web:
    build: .
    container_name: DRF_app
    volumes:
      - ./task/:/app/task
      - ./to_do_api/:/app/to_do_api
    ports:
      - "127.0.0.1:8001:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - .env
    ports:
      - "127.0.0.1:5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
